*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff');
  font-weight: 700;
  font-style: bold;
}

/*HEADER*/

.header {
  height: 100%;
  background-image: url('../images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  background-size: cover;
  color: #ffffff;
  position: relative;
  padding: 28px 0 130px 0;
  z-index: 0;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.container {
  /*max-width: 1200px;*/
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  text-align: center;
  text-transform: uppercase;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.logo {
  width: 60%;
 }

.nav-list{
  list-style: none;
  display: flex;
}

.nav-list-item {
  line-height: 1.2;
  font-size: 0.82rem;
}

.nav-link {
  text-decoration: none;
   color: #ffffff;
}

.nav-list-item:nth-child(n+2) {
margin-left: 35px;
/*margin-left: 2.2rem;*/
}

.nav-link:hover {
  text-decoration: underline;
}

.heading {
  /*max-width: 700px;*/
  max-width: 48.6vw;
  /*font-size: 45px;*/
  font-size: 2.8rem;
  line-height: 1.6;
  text-align: center;
  margin: auto;
  font-weight: 700;
  padding: 101px 0 0 0;
  height: auto;
}

/*POPUP*/

.popup-hidden {
  visibility: hidden;
}

.popup {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 3;
  justify-content: center;
  align-items: center;
}

.popup-container {
  max-width: 390px;
  width: 95%;
  margin: auto;
  background-color: #ffffff;
  position: relative;
}

.feedback {
  background-color: #fff;
  color: #222;
}

.feedback-header {
  padding-top: 40px;
  text-align: center;
}

.feedback-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  /*font-size: 2.2em;*/
  margin-top: 0;
  margin-bottom: 0.35em;
}

.feedback-title:after {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-bottom: 3px solid #e1d9bd;
}

.feedback-form {
  box-sizing: border-box;
  width: 390px;
  min-height: 100%;
  padding: 30px;
  background-color: #ffffff;
}

.feedback-wrapper {
  margin-bottom: 30px;
}

.select {
  margin-top: 10px;
  background-color: #f4f7f6;
  width: 330px;
  height: 50px;
  border: 0;
  padding: 15px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../svg/form-arrows.svg');
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 10px;
}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-right: 10px;
  margin-top: 10px;
}

.radio+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../svg/form-empty-circle.svg');
  background-size: 20px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
}

.radio:checked+label::before {
  background-image: url('../svg/form-circle.svg');
  background-size: 20px;
}

.textarea {
  padding: 15px;
  margin-top: 10px;
  background-color: #f4f7f6;
  max-width: 330px;
  min-width: 330px;
  min-height: 130px;
  max-height: 300px;
  border: 0;
}

.feedback-button {
  background-color: #b59f5b;
  border: 0;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  width: 330px;
  height: 50px;  
  cursor: pointer;
}

.popup-close {
  background-image: url('../svg/form-x.svg');
  width: 1.4em;
  height: 1em;
  font-size: 20px;
  position: absolute;
  top: -1.5em;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background-repeat: no-repeat;
}

/*TRENDS*/

.trends {
  width: 100%;
}

.trends-title {
  padding-top: 60px;
  font-family: 'Open Sans';
  /*font-size: 20px;*/
  font-size: 1.3rem;
  /*line-height: 29px;*/
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
  /*position: relative;*/
}

.trends-title::after {
  content: '';
  display: block;
  /*width: 67px;
  height: 3px;*/
  width: 4.2rem;
  height: 0.19rem;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
  background-color: #b59f5b;
}

.trends-card {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.trend {
  position: relative;
  display: flex;
  align-items: flex-end;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  z-index: 0;
  width: calc(25% - 3px);
  /*min-height: 320px;*/
  min-height: 79.6vh;
}

.trend::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-list {
  display: flex;
  flex-wrap: wrap;
}


.trend-first {
  background-image: url('../images/trend1.jpg');
}

.trend-second {
  background-image: url('../images/trend2.jpg');
}

.trend-third {
  background-image: url('../images/trend3.jpg');
}

.trend-fourth {
  background-image: url('../images/trend4.jpg');
}

.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #877342;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 2vh 2vw;
}

.trend-list {
  display: flex;
}

.trend-item {
  list-style: none;
  margin-right: 15px;
}

.trend-link {
  font-family: 'Open Sans';
  font-weight: 700;
  /*font-size: 14px;*/
  font-size: .88rem;
  text-transform: uppercase;
  color: #b59f5b;
  text-decoration: none;
}

.trend-link:hover {
  text-decoration: underline;
}

.card-title>a {
  font-family: 'Open Sans';
  /*font-size: 20px;*/
  font-size: 1.3rem;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.card-title>a:hover {
  color: #b59f5b;
}

/* MAIN CONTENT */

.page {
 padding-top: 62px;
  display: flex;
  justify-content: space-between;
}

.main {
  /*max-width: 780px;*/
  max-width: 54.2vw;
}

.article {
 display: flex;
 align-items: flex-start;
 margin-bottom: 60px;
}

.article:nth-child(n+3) {
  margin-bottom: 62px;
}

.article-img {
  margin-right: 30px;
  background-color: #eff6f1;
  /*min-width: 381px;*/
  min-width: 26.5vw;
}

.article-content {
 /*max-width: 370px;*/
 max-width: 25.7vw;
}

.tags {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.tags-item {
  margin-right: 20px;
}

.tags-link {
  text-decoration: none;
  /*font-size: 14px;*/
  font-size: .88rem;
  font-weight: 700;
  color: #b59f5b;
  text-transform: uppercase;
}

.article-title {
  font-weight: 700;
  /*font-size: 20px;*/
  font-size: 1.3rem;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.article-title-link {
  text-decoration: none;
  color: #0f0d0e;
}

.article-title-link:hover {
color: #b59f5b;
}

.article-info {
  display: flex;
  margin-top: 25px;
  margin-bottom: 47px;
  /*font-size: 12px;*/
  font-size: .8rem;
}

.date {
  color: #888888;
  margin-right: 10px;
  font-weight: 400;
}

.author {
  font-weight: 700;
  color: #000000;
}

.article-desc {
  /*font-size: 15px;*/
  font-size: .94rem;
  padding-bottom: 10px;
  line-height: 1.4;
  color: #0f0d0e;
  font-weight: 400;
}

/*блок с дополнительной информацией*/

.aside {
  /*max-width: 270px;*/
  max-width: 16.9rem;
}

.aside-block {
  margin-bottom: 59px;
}

.aside-title {
  color: #0f0d0e;
  text-align: center;
  text-transform: uppercase;
  /*font-size: 14px;*/
  font-size: .88rem;
  position: relative;
  margin-bottom: 19px;
  font-weight: 700;
}

.aside-title::after {
  content: '';
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  /*width: 66px;
  height: 3px;*/
  width: 4.2rem;
  height: 0.19rem;
  background: #b59f5b;
  opacity: 0.4;
}

.new-post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.new-post-img {
  /*width: 70px;*/
  width: 5rem;
  margin-right: 17px;
  object-fit: cover;
  background-color: #f4f7f6;
}

.new-post-img:first-child {
  margin-top: 6px;
}

.date-new-post {
  /*font-size: 12px;*/
  font-size: .75rem;
  font-weight: 400;
  color: #000000;
  opacity: 0.54;
}

.subject {
  text-transform: uppercase;
  /*font-size: 14px;*/
  font-size: .88rem;
  font-weight: 700;
  color: #000000;
}

.subject-link {
  text-decoration: none;
  color: #0f0d0e;
}

.subject-link:hover {
  color: #b59f5b;
}

/*FORMS*/

/*SEARCH*/

.form {
  position: relative;
}

.search-form {
  margin-top: 62px;
}

.search-field {
  box-sizing: border-box;
  padding-left: 18px;
  /*width: 222px;*/
  width: 13.88rem;
  /*height: 49px;*/
  height: 3.1rem;
  /*font-size: 13px;*/
  font-size: .82rem;
  border: none;
  background-color: #f4f7f6;
  opacity: 0.54;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-field:focus {
  border: 1px solid #b59f5b;
}

.search-button {
  position: absolute;
  /*height: 48px;*/
  height: 3rem;
  /*width: 48px;*/
  width: 3rem;
  background-color: #b59f5b;
  z-index: 2;
  right: 0;
  background-image: url('../svg/search.svg');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.search-button:hover {
  background-color: #323232;
}

/*SUBSCRIBE*/

.mail {
  box-sizing: border-box;
  padding-left: 18px;
  width: 100%;
  /*height: 49px;*/
  height: 3.1rem;
  /*font-size: 13px;*/
  font-size: .82rem;
  border: none;
  background-color:#f4f7f6;
  opacity: 0.54;
}

.mail:focus {
border: 1px solid #b59f5b;
}

.button {
  margin-top: 18px;
  /*height: 49px;*/
  height: 3.1rem;
  border: none;
  width: 100%;
  background-color:#b59f5b;
  font-weight: 700;
  text-transform: uppercase;
  color:#ffffff;
  /*font-size: 14px;*/
  font-size: .88rem;
  cursor: pointer;
  line-height: 40px;
}

.button:hover {
  background-color: #323232;
}

/*TAGS*/

.tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.tag-list-item {
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
}

.tag-list-link {
  width: 86px;
  height: 30px;
  text-decoration: none;
  color: #0f0d0e;
  border: 3px solid #eeeeee;
  /*font-size: 12px;*/
  font-size: .75rem;
  padding: 4px 13px;
  margin-right: 6px;
}

.tag-list-item:nth-child(n+4) {
  margin-top: -5px;
}

.tag-list-link:hover {
  border: 3px solid #b59f5b;
}

/*TOPICS*/

.aside-block:nth-child(3) {
  margin-bottom: 50px;
}

.topic-list {
  list-style: none;
}

.topic-list-item {
  padding-bottom: 10px;
}

.topic-list-item::after {
  content: '';
  display: block;
  position: relative;
  margin-top: 14px;
  width: 100%;
  /*height: 1px;*/
  height: 0.1rem;
  background: #eeeeee;
}

.topic-list-link {
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  padding: 0 5px 0 0;
  /*font-size: 14px;*/
  font-size: .88rem;
  font-weight: 700;
  color: #000000;
}

.topic-list-link:hover {
  color: #b59f5b;
}

.topic-counter {
  display: inline-block;
  vertical-align: top;
  color:#b59f5b;
  /*font-size: 12px;*/
  font-size: .75rem;
  font-weight: 700;
}

/*PRODUCTS*/

.products {
  display: flex;
  flex-wrap: wrap;
}

.products-title {
  font-family: 'Open Sans';
  /*font-size: 20px;*/
  font-size: 1.3rem;
  font-weight: 700;
  color: #0f0d0e;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  margin: auto;
}

.products-title::after {
  content: '';
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  /*width: 66px;*/
  width: 4.13rem;
  /*height: 3px;*/
  height: 0.19rem;
  background: #b59f5b;
  opacity: 0.4;
}

.products-card {
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100%;
}

.product {
  width: 30%;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px ;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.product:nth-child(2n+2) {
  margin-right: 65px;
  margin-left: 65px;
}

.product-pic {
  /*min-height: 202px;*/
  min-height: 12.63rem;
  background-color: #eff6f1;
}

.card-img {
  width: 100%;
  height: 100%;
}

.product-info {
  position: relative;
  box-sizing: border-box;
  /*min-height: 267px;*/
  min-height: 16.7rem;
  border: 3px solid #b59f5b;
  padding: 15% 7% 9% 7%;
  margin: -33px -25px -50px -25px;
  background-color: rgba(0,0,0,0.0);
}

.object-title {
  /*font-size: 20px;*/
  font-size: 1.3rem;
  text-transform: uppercase;
}

.object-title>a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #0f0d0e;
}

.product-desc {
  font-family: 'Open Sans';
  /*font-size: 15px;*/
  font-size: .94rem;
  /*line-height: 22px;*/
  font-weight: 400;
  color: #0f0d0e;

  padding: 12px 0;
}

.product-desc>a {
  text-decoration: none;
  color: #b59f5b;
}

.product-link:hover {
  text-decoration: underline;
}

.product-desc>span {
  color: #000000;
}

.price-shop {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price {
  /*width: 80px;*/
  font-weight: 700;
  color: #0f0d0e;
}

.old-price {
  /*font-size: 14px;*/
  font-size: .88rem;
  text-decoration: line-through;
}

.new-price {
 /* font-size: 20px;*/
  font-size: 1.3rem;
}

.shop-button {
  /*width: 141px;*/
  width: 8.82rem;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #b59f5b;
  border: 0;
  /*font-size: 14px;*/
  font-size: .88rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.shop-button:hover {
  background-color: #323232;
}

/*FOOTER*/

.footer {
  padding-bottom: 38px;
}

.address {
  padding: 30px 0;
  background-color: #f4f7f6;
  margin-bottom: 70px;
}

.socials {
  display: flex;
  justify-content: center;
  list-style:none;
}

.social-link {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  padding-left: 20px;
}

.icon-drib {
  width: 20px;
  height: 20px;
  background-image: url('../svg/001-dribbble.svg');
}

.icon-pint {
  width: 16px;
  height: 20px;
  background-image: url('../svg/002-pinterest.svg');
}

.icon-tumb {
  width: 13px;
  height: 20px;
  background-image: url('../svg/003-tumblr.svg');
}

.copyright {
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: #999999;
  font-weight: 700;
  /*font-size: 12px;*/
  font-size: .75rem;
}

/*------------------- MEDIA ---------------------*/

/*---- min-width: 1200px -----*/

@media (min-width: 1200px) {
  .header {
    width: 100%;
  }

  .menu__button {
    display: none;
  }
}

/*------ 641 - 1199 -------*/

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url('../images/banner-bg-tablet.jpg');
    width: 100%;
   /* min-height: 392px;*/
    min-height: 24.5rem;
  }

  .container {
    /*max-width: 768px;*/
    max-width: 1199px;
    max-width: 74.94rem;
    padding: 0 35px;
  }

  .page {
    justify-content: space-around;
  }

  .menu {
    padding-top: 15px;
  }

  .nav-list {
    display: none;
  }

  .logo {
    /*width: 158px;*/
    width: 20.58vw;
  }

  .heading {
    font-size: 2.5rem;
    line-height: 1.5;
    width: 92%;
    padding-top: 81px;
  }

  .menu__button {
    width: 0.9em;
    height: 0.9em;  
    border: none;
    padding: 0;

    background-color: transparent;
    /*font-size: 25px;*/
    font-size: 1.6rem;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu__button:before, .menu__button:after {
    content:"";
    width: 100%;
    height: 13%;

    border-radius: 5px;
    background-color: #ffffff;  

    position: absolute;
    left: 0;

    margin-top: -0.05em;
    margin-bottom: 0.19em;
}

  .menu__button:before {
    top: 0;
  }

  .menu__button:after {
    bottom: 0;
  }

  .menu__button-label {
    width: 100%;
    height: 13%;
    margin-top: -0.16em;  

    border-radius: 5px;
    background-color: #ffffff;  

    position: absolute;
    left: 0;
    top: 50%;
  }

  .trends {
    width: 100%;
  }

  .trends-title {
    padding-top: 20px;
    /*font-size: 18px;*/
    font-size: 1.13rem;
  }

  .trends-card {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .trend {
    width: calc(50% - 3px);
    margin-bottom: 3px;
   /* min-height: 247px;*/
    min-height: 15.44rem;
  }

  .card {
    margin-bottom: 3vh;
    margin-left: 2.3vw;
    margin-right: 2.3vw;
    padding: 5vh 4.5vw;

    /*margin-bottom: 1.5vh;
    margin-left: 2.3vw;
    margin-right: 2.3vw;
    padding: 2.5vh 4.5vw;*/
  }

  .trend-list {
    padding-bottom: 7px;
  }

  .card-title>a {
    /*font-size: 17px;*/
    font-size: 1.1rem;
    line-height: 22px;
  }

  /*.card-title-first {
    max-width: 200px;
  }*/

  .page {
    padding-top: 46px;
  }

  .main {
    /*max-width: 393px;*/
    /*max-width: 684px;*/
    max-width: 42.8rem;
  }

  .article {
     box-sizing: border-box;
     flex-direction: column;
     margin-bottom: 54px;
  }

  .article:nth-child(n+3) {
    
    margin-bottom: 50px;
  }

  .article-img-box {
    /*min-width: 393px;*/
    min-width: 24.6rem;
    /*height: 303px;*/
    height: 18.94rem;
  }

  .article-img {
   /* min-width: 393px;*/
    min-width: 24.6rem;
    height: 100%;
  }

  .article-content {
    padding-top: 10px;
    /*max-width: 393px;*/
    max-width: 24.6rem;
  }

  .article-title {
    padding-top: 7px;
    /*font-size: 17px;*/
    font-size: 1.1rem;
    margin-bottom: 29px;

    /*width: 395px;*/
    width: 24.7rem;
  }

  .article-info {
     margin-bottom: 30px;
  }

  .last-article-desc {
    /*max-width: 356px;*/
    max-width: 22.3rem;
  }

  .products {
    /*max-width: 698px;*/
    padding-top: 5px;
  }

  .products-title {
    /*font-size: 18px;*/
    font-size: 1.13rem;
  }

  .products-card {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 42px;
    margin-top: 26px;
  }

  .product {
    width: calc(50% - 15px);
  }

  .product:nth-child(2n+2) {
    margin-right: 0; 
    margin-left: 0; 
  }

  .product:nth-child(n+3) {
    margin-top: 13px;
  }

  .card-img {
    /*min-height: 227px;*/
    min-height: 14.2rem;
  }

  .product-info {
    /*padding: 15% 7% 9% 7%;
    margin-top: -50px;*/

    padding: 16% 8% 9% 7%;
    margin-top: -38px;
  }

  .last-product-info {
    padding: 14% 7% 9% 7%;
    /*min-height: 247px;*/
    min-height: 15.5rem;
  }

  .object-title {
    font-size: 17px;
    font-size: 1.1rem;
    padding-top: 3px;
  }

  .last-object-title {
    padding-top: 11px;
  }

  .product-desc {
    padding: 6px 0;
  }

  .price-shop {
    padding-top: 20px;
  }

  .first-price-shop {
    padding-bottom: 20px;
  }

  .address {
    margin-bottom: 48px;
  }

/*POPUP*/

    .popup-container {
      margin-top: 65px;
    }

    .feedback-form {
      padding-right: 30px;
      padding-left: 30px;
    }

    .feedback-title {
      /*font-size: 18px;*/
      font-size: 1.13rem;
      text-align: center;
      padding-top: 19px;
    }

    .feedback-title:after {
      margin-top: 10px;
      margin-bottom: 21px;
    }

    .feedback-wrapper {
      margin-bottom: 22px;
    }
    .feedback-question {
      font-size: 13px;
    }

    .select {
      margin-top: 4px;
      background-position: right 14px center;
    }

    .radio:checked+label::before {
      background-size: 24px;
    }

    .radio+label {
      margin-right: 33px;
      margin-top: 14px;
    }

    .radio+label::before {
      width: 25px;
      height: 23px;
      background-size: 24px;
      margin-right: 2px;
    }

    .textarea {
      padding: 16px;
      margin-top: 0;
    }
}

/*------ ROTATION ------*/

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trend {
    width: calc(25% - 3px);
    margin-left: 4px;
  }

  .trend:first-child {
    margin-left: 0;
  }

  .card {
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 2vh 2vw;
  }
}


/*----- MAX WIDTH 640 -------*/

@media (max-width: 640px) {
  .header {
    /*padding: 30px 15px 220px;*/

    /*padding: 27px 33px 210px;*/
    background-image: url('../images/banner-mobile.jpg');
    width: 100%;
    /*min-height: 639px;*/
    min-height: 21.2rem;
  }

  .container {
    /*max-width: 640px;*/
    max-width: 40rem;
    padding: 0 15px;
  }

  .menu {
    /*padding-top: 0;*/
    flex-direction: column;
  }

  .mobil-logo {
    width: 100%;
    /*max-width: 269px;*/
    max-width: 74.8vw;
    margin-top: 168px;
  }

  .logo {
    width: 100%;
  }

  .nav-menu {
    order: -1;
    align-self: flex-end;
  }

  .nav-list {
    display: none;
  }

  .heading-box {
    /*max-width: 277px;*/
    max-width: 17.32rem;

    margin: auto;
  }

  .heading {
   /* font-size: 25px;*/
    font-size: 1.6rem;
    padding: 30px 0 0 0;
    line-height: 1.4;
    max-width: 100%;
  }

  .menu__button {
    width: 0.9em;
    height: 0.9em;  
    border: none;
    padding: 0;

    background-color: transparent;
    /*font-size: 25px;*/
    font-size: 1.6rem;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu__button:before, .menu__button:after {
    content:"";
    width: 100%;
    height: 13%;

    border-radius: 5px;
    background-color: #ffffff;  

    position: absolute;
    left: 0;

    margin-top: -0.05em;
    margin-bottom: 0.19em;
}

  .menu__button:before {
    top: 0;
  }

  .menu__button:after {
    bottom: 0;
  }

  .menu__button-label {
    width: 100%;
    height: 13%;
    margin-top: -0.16em;  

    border-radius: 5px;
    background-color: #ffffff;  

    position: absolute;
    left: 0;
    top: 50%;
  }

  .trends {
    /*width: 100%;*/
    padding-top: 20px;
  }

  .trends-title {
    padding-top: 18px;
    /*font-size: 16px;*/
    font-size: 1rem;
  }

  .trends-card {
    padding-top: 20px;

    padding-top: 24px;
    flex-direction: column;
  }

  .trend {
    margin-bottom: 3px;
    /*min-height: 231px;*/
    min-height: 14.44rem;
    padding: 15px 15px;
    width: 100%;
  }

  .card {
    /*margin-bottom: 0vh;
    margin-left: 8.3vw;
    margin-right: 8.3vw;
    padding: 3.5vh 4.5vw;*/

   /* margin-bottom: 3vh;
    margin-left: 2.3vw;
    margin-right: 2.3vw;
    padding: 5vh 4.5vw;*/

    /*margin-bottom: 1.5vh;
    margin-left: 2.3vw;
    margin-right: 2.3vw;
    padding: 2.5vh 4.5vw;*/

    margin-bottom: 0.5vh;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    padding: 3vh 4vw;


    /*padding: 30px 15px;*/
  }

  .trend-list {
    /*padding-bottom: 7px*/

    padding-top: 5px;
    padding-left: 7px;
  }

  .trend-item {
    margin-right: 18px;
    /*font-size: 14px;*/
    font-size: .88rem;

  }

  .card-title {
    width: 100%;

    /*margin-top: 20px;*/
    padding-left: 5px;
  }

  .card-title>a {
    /*font-size: 16px;*/
    font-size: 1rem;
    line-height: 20px;
    /*line-height: 1.2;*/
    margin-top: 15px;
  }

  .page {
    width: 100%;
    flex-direction: column;
    padding-top: 40px;
  }

  .main {
    max-width: 100%;
  }

  .article {
    flex-direction: column;
    margin-bottom: 47px;
  }


  .article:nth-child(n+3) {
    
    margin-bottom: 48px;
  }

  .article-img-box {
    width: 100%;
    /*height: 254px;*/
    height: 15.9rem;
  }

  .article-img {
    /*min-width: 0;*/
    width: 100%;
    height: 100%;
    margin-right: 0;
  }

  .article-content {
    padding-top: 10px;
    /*max-width: 393px;*/
    max-width: 24.6rem;
  }

  .article-title {
    /*font-size: 16px;*/
    font-size: 1rem;
    padding-top: 5px;
  }

  .width-post-title {
    /*max-width: 264px;*/
    max-width: 16.5rem;
  }

  .article-info {
     margin-bottom: 15px;
     margin-top: 0;
  }

  .article-desc {
    /*font-size: 14px;*/
    font-size: .88rem;
  }

  /*.last-article-desc {
    max-width: 251px;
  }*/

  .aside {
    max-width: 100%;
  }

  .aside-block {
    margin-bottom: 40px;
  }

  .aside-block:nth-child(3) {
    margin-bottom: 40px;
  }

  .aside-title {
    /*font-size: 16px;*/
    font-size: 1rem;
  }

  .subject {
    line-height: 18px;
    /*max-width: 238px;*/
    max-width: 14.9rem;
  }

  .new-post {
    margin-bottom: 16px;
  }

  .new-post-img {
    margin-right: 20px;
  }

  .search-field {
    width: calc(100% - 50px);
    padding: 14px 20px;
  }

  .tag-list-item:nth-child(n+4) {
    margin-top: 0;
  }

  .tag-list-item {
   /* padding-top: 8px;*/
    margin-bottom: -7px;
  }

  .tag-list-link {
    padding: 3px 10px;
    margin-right: 10px;
  }

  .products {
    width: 100%;
    padding-top: 30px;
  }

  .products-title {
    font-size: 16px;
    font-size: 1rem;
  }

  .products-card {
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 35px;
  }

  .product {
    width: 100%;
  }

  .product:nth-child(2n+2) {
    margin-right: 0;
    margin-left: 0;
  }

  .product-pic {
    /*max-width: 286px;*/
    max-width: 17.9rem;
    /*height: 286px;*/
    height: 17.9rem;
    margin: 0 auto;
  }

  .product-info {
    /*min-height: 220px;*/
    min-height: 13.8rem;
    margin: -33px -20px -50px -20px;
    padding: 17px;
  }

  .card-img {
    height: 100%;
  }

  .object-title {
    /*font-size: 17px;*/
    font-size: 1.1rem;
    padding-top: 30px;
  }

  .product-desc {
    line-height: 22px;
    padding: 4px 0;
  }

  .price-shop {
    padding-top: 17px;
  }

  .product:nth-child(n+2) {
    margin-top: 16px;
  }

  .product-info:nth-child(n+2) {
   /* margin: -36px -20px -40px -20px;*/
   padding-bottom: 24px;
  }

  .shop-button {
    margin-right: 4px;
  }

  .address {
    margin-bottom: 49px;
  }

}

/*----- ROTATION ------*/

@media (max-width: 640px) and (orientation: landscape) {

  .trends-card {
    display: flex;
    flex-wrap: wrap;
  }

  .trend {
    width: calc(50% - 2px);
    margin-left: 4px;
  }

  .trend:first-child {
    margin-left: 0;
  }
}